@font-face {
    font-family: 'SFProDisplay-Regular';
    src: local('SFProDisplay-Regular'), url(./fonts/SF-UI-Text-Regular.ttf) format('truetype');
}


body {
    margin: 0;
    font-family: SFProDisplay-Regular, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
